table {
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-align: center;
  margin: 50px auto 0;
}

th,
td {
  border: 1px solid white;
  padding: 8px;
}

tr:hover {
  background-color: black;
}

@media (max-width: 600px) {
  table {
    width: 100%;
    max-width: none;
    font-size: 20px;
  }
}
